{{template "base" .}}


{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This is the homepage</h1>

        </div>
        <div class="row">
            <div class="col">

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Accusamus sequi beatae saepe, fugiat nostrum sunt facere est 
                    ex vitae nisi voluptatum veniam sint doloremque molestiae 
                    explicabo recusandae dolores eius soluta.</p>
            </div>
        </div>

    </div>
{{end}}



